body, canvas {
    background: red;
    color: white;
  }
  
  .canvas-holder {
    display: block;
    width: 98%;
    height: 100vh;
  }
  
  .phone {
    float: left;
  }
  
  .tablet {
    float: left;
  }
  
  .small-desktop {
    float: left;
  }
  
  .large-desktop {
    float: left;
  }
  
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .phone {
      float: none;
    }
  }
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .tablet {
      float: none;
    }
  }
  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1025px) and (max-width: 1600px) {
    .small-desktop {
      float: none;
    }
  }
  /* Large screens ----------- */
  @media only screen and (min-width: 1601px) {
    .large-desktop {
      float: none;
    }
  }
  